body {
    margin: 0;
    padding: 0;
    background-image: url('slike/pozadina.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

header {
    text-align: center;
    padding: 40px 10px;
    background-color: #ffa6f2;
}

h1 {
    font-family: PaulaHerceg;
    font-size: 40px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

nav {
    background-color: #ffa6f2;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
}

nav a:hover {
    background-color: #ff6600;
    border-radius: 4px;
}

main {
    padding: 20px;
    background-color: #ffa6f2;
    margin: 20px;
    border-radius: 10px;
}

img {
    width: 250px;
    margin: 10px;
    border-radius: 10px;
}

.video-container {
    text-align: center;
    margin-top: 20px;
}

p {
    line-height: 1.6;
}